/**======================CONTACTO======================**/
.main__contacto {
  padding: 2% 2% 2% 2%;
}

.container__contacto {
  display: flex;
  justify-content: center;
}

.form-container__contacto {
  border: 2px solid rgba(128, 128, 128, 0.589);
  border-radius: 20px;
  width: 33%;
}

.list__contacto {
  list-style: none;
}
.list-item__contacto {
  margin-top: 30px;
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 2px;
}
.input__contacto {
  padding: 5px;
  width: 95%;
}
.input__contacto:focus {
  border: 2px solid transparent;
}
.select__contacto {
  padding: 5px 10px 5px 10px;
}

#mensaje-textarea__contacto {
  padding-top: 5px;
  width: 95%;
}

#mensaje-textarea__contacto:focus {
  border: 2px solid transparent;
}

.input-container__contacto {
  display: flex;
  justify-content: center;
}

.boton__contacto {
  margin: 15px;
  border: green 1px solid;
  border-radius: 5px;
  line-height: 25px;
  font-weight: bold;
  font-size: 15px;
  letter-spacing: 2px;
  width: 150px;
  padding: 10px;
  cursor: pointer;
  transition: all 300ms;
}
.boton__contacto:hover {
  background: bisque;
  color: black;
  border: orangered 1px solid;
}
