/**======================INDEX======================**/
.main__index {
  background-color: rgb(255, 255, 255);
  padding: 3% 2% 3% 2%;
}

h1 {
  color: black;
  font-weight: bold;
  margin-left: 10px;
  margin-bottom: 15px;
  text-align: center;
  letter-spacing: 2px;
}

.img-grid__index {
  display: grid;
  grid-template-areas: "img__index1 img__index2 img__index3";
  grid-template-columns: auto auto auto;
  justify-content: center;
  grid-column-gap: 200px;
  margin-top: 4%;
}

.img__index1 {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  margin-bottom: 40px;
}
.img__index2 {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  margin-bottom: 40px;
}
.img__index3 {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  margin-bottom: 40px;
}

.p__index {
  text-align: center;
  font-style: italic;
  font-weight: lighter;
  line-height: 30px;
  margin-top: 20px;
  margin-left: 10px;
  margin-bottom: 50px;
}

.dropdown__index {
  margin-left: 10%;
}

.reseña-title__index {
  font-size: 25px;
  font-weight: 900;
  text-align: center;
  margin-bottom: 3%;
  margin-top: 15%;
}

#resenias__index {
  background-color: rgb(245, 245, 245);
  margin-left: 10px;
}

.usuario__index {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.nombreusuario__index {
  margin-left: 10px;
}

.reseniausuario__index {
  margin-left: 20px;
  margin-bottom: 15px;
  margin-top: 5px;
}

.select__index {
  margin-left: 15px;
}
.table__index {
  margin: 15px;
  border-radius: 5px;
}
