/**======================NOSOTROS======================**/

.main__nosotros {
  padding: 3% 2% 3% 2%;
}
#h1__nosotros {
  margin-top: 25px;
  margin-bottom: 25px;
  letter-spacing: 3px;
}

#p__nosotros {
  font-style: italic;
  text-align: center;
  line-height: 30px;
  margin-top: 20px;
}

.carousel__nosotros {
  margin: 0px auto;
  width: 25%;
}
