@import "_elements";
@import "_variables";
/**======================UBICACION======================**/

.contenedor__ubicacion {
  padding-top: 3%;
  padding-bottom: 3%;
}

.contenedorhijo__ubicacion {
  margin-top: 40px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.p__ubicacion {
  text-align: center;
  @include bold;
  margin-bottom: 10px;
  font-size: 20px;
}
