@import "_header";
@import "_index.scss";
@import "_tienda.scss";
@import "_nosotros.scss";
@import "_contacto.scss";
@import "_ubicacion.scss";
@import "_footer.scss";

/*PROPIEDADES GENERALES*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

/**======================RESPONSIVE======================**/
/*Se que no era necesario, pero quise hacer un repaso*/

@media (max-width: 1459px) {
  .header {
    display: grid;
    grid-template-areas:
      "logo-container__header"
      "menu";
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    justify-content: center;
  }
  .logo-container__header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
  }
  .menu {
    display: flex;
    justify-content: center;
    padding-right: 2%;
    padding-top: 20px;
  }
  .link {
    margin-right: 5%;
  }
  .boton-container__header {
    display: flex;
    align-items: center;
    margin-bottom: 1%;
  }
  .boton__header {
    margin-left: 1%;
  }
  .destacados-container__tienda {
    grid-column-gap: 1%;
    margin-bottom: 70px;
    margin-top: 35px;
  }
  .ofertas-container__tienda {
    grid-column-gap: 1%;
    margin-bottom: 50px;
    margin-top: 35px;
  }
}

@media (max-width: 1179px) {
  .img-grid__index {
    grid-column-gap: 4%;
    margin-top: 4%;
  }
  .img__tienda {
    width: 300px;
    height: 400px;
  }
}

@media (max-width: 1059px) {
  .menu {
    display: grid;
    grid-template-areas: "link boton-container__header";
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto;
    justify-content: center;
    padding-right: 0%;
  }
  .link {
    margin-right: 0px;
    padding-bottom: 15px;
    margin-right: 0%;
    margin-bottom: 10px;
  }
  .link:hover {
    box-shadow: 0px 0px 0px black;
  }
  .boton-container__header {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 1140px) {
  .form-container__contacto {
    width: 50%;
  }
  .carousel__nosotros {
    margin: 0px auto;
    width: 40%;
  }
}
@media (max-width: 1112px) {
  .logo__header {
    margin-bottom: 1.5%;
  }
}

@media (max-width: 955px) {
  .img__index1 {
    width: 250px;
    height: 350px;
  }
  .img__index2 {
    width: 250px;
    height: 350px;
  }
  .img__index3 {
    width: 250px;
    height: 350px;
  }
  .img__tienda {
    width: 250px;
    height: 350px;
  }
  #img__nosotros {
    width: 250px;
    height: 350px;
  }
  .destacados-container__tienda {
    grid-column-gap: 0.5%;
  }
  .ofertas-container__tienda {
    grid-column-gap: 0.5%;
  }
  .boton-container__footer {
    display: none;
  }
}

@media (max-width: 823px) {
  .img-grid__index {
    grid-column-gap: 1.5%;
    margin-top: 4%;
  }
}

@media (max-width: 793px) {
  .img__index1 {
    width: 200px;
    height: 300px;
  }
  .img__index2 {
    width: 200px;
    height: 300px;
  }
  .img__index3 {
    width: 200px;
    height: 300px;
  }
  .img__tienda {
    width: 200px;
    height: 300px;
  }
  .descripcion__tienda {
    width: 200px;
  }
  .form-container__contacto {
    width: 75%;
  }
  .carousel__nosotros {
    margin: 0px auto;
    width: 50%;
  }
}

@media (max-width: 653px) {
  #naturalatina {
    margin-top: 1%;
  }
  .navbar-bootsrap {
    display: block;
  }
  .menu {
    display: none;
  }
  #footer {
    display: flex;
    justify-content: center;
  }
  .boton-container__header {
    display: flex;
    justify-content: left;
  }
  .boton__header {
    width: 114px;
    margin-left: 5%;
  }
  #footer {
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: auto;
  }
  iframe {
    width: 300px;
    height: 300px;
  }
}

@media (max-width: 632px) {
  .destacados-container__tienda {
    display: grid;
    grid-template-areas:
      "img__tienda"
      "descripcion__tienda";
    grid-template-rows: auto auto;
    grid-template-columns: auto;
    /*Justify funciona en horizontal*/
    justify-content: center;
  }
  .ofertas-container__tienda {
    display: grid;
    grid-template-areas:
      "img__tienda"
      "descripcion__tienda";
    grid-template-rows: auto;
    grid-template-columns: auto;
    /*Justify funciona en horizontal*/
    justify-content: center;
  }
  .img__tienda {
    width: 375px;
    height: 550px;
  }
  .descripcion__tienda {
    width: 100%;
  }
}

@media (max-width: 623px) {
  .logo__header {
    margin-bottom: 2%;
  }
  .img-grid__index {
    grid-column-gap: 5px;
  }
  .img__index1 {
    display: none;
  }
  .carousel__nosotros {
    margin: 0px auto;
    width: 65%;
  }
}

@media (max-width: 466px) {
  .form-container__contacto {
    width: 85%;
  }
  .carousel__nosotros {
    margin: 0px auto;
    width: 70%;
  }
  .img__tienda {
    width: 320px;
    height: 400px;
  }
}

@media (max-width: 458px) {
  #footer {
    display: flex;
    justify-content: center;
  }
  .nav__footer {
    display: none;
  }
  .mapa {
    width: 225px;
  }
  .nav-container__footer {
    padding-left: 0%;
  }
}
@media (max-width: 414px) {
  .img__index3 {
    display: none;
  }
}
@media (max-width: 400px) {
  #naturalatina {
    margin-top: 1%;
  }
  .navbar-bootsrap {
    display: block;
  }
  .menu {
    display: none;
  }
  #footer {
    display: flex;
    justify-content: center;
  }
  .nav__footer {
    display: none;
  }
  .mapa {
    width: 225px;
  }
  .form-container__contacto {
    width: 90%;
  }
  .carousel__nosotros {
    margin: 0px auto;
    width: 80%;
  }
}

@media (max-width: 352px) {
  .form-container__contacto {
    width: 95%;
  }
  .img__tienda {
    width: 290px;
    height: 380px;
  }
}

@media (max-width: 305px) {
  .h1 {
    text-align: center;
    margin: 0 auto;
  }
  .mapa {
    width: 225px;
  }
  .main__contacto {
    padding: 1%;
  }
  .carousel__nosotros {
    margin: 0px auto;
    width: 90%;
  }
  .img__tienda {
    width: 280px;
    height: 370px;
  }
}
